@import "./theme.scss";

@import "@material/react-button/index.scss";
@import "@material/react-material-icon/index.scss";
@import "@material/react-text-field/index.scss";

body {
  margin: 0;
  /* This is a font-stack that tries to use the system-default sans-serifs first */
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.mdc-floating-label {
  @include mdc-text-field-caret-color(rgba(0, 0, 0, 0.64));
  @include mdc-text-field-label-color(rgba(0, 0, 0, 0.64));
}

//ineligant solution for floating label color
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-button {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.anoun-insta-main__section {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  img {
    width: 10%;
    margin: 0.5rem auto;
  }

  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  ol {
    margin: 0 0 0.5rem 0;
  }
  .mdc-text-field {
    height: 30%;
  }
  button {
    margin: 0.5rem;
  }
}
