.siteFooter {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footerSocialLinks a {
  margin-right: 12px;
}

.footerSocialLinks a:last-of-type {
  margin-right: 0px;
}

.footerSocialIcon {
  vertical-align: middle;
}
