.siteFooter {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    display: flex;
    align-items: center;
  }
}

